<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Boxes with colors</title>
    <link rel="stylesheet" href="box.css">
</head>

<body>

<div id="container" >
<header>
    header
    <nav>nav</nav>
</header>

<section id="storBox">
    Section left
    <header id="header2">
        header
    </header>

    <article id="art">
        article

        <header id="header3">
            header
        </header>

        <p id="p1">para</p>
        <p id="p2">para</p>

        <aside>
            aside

        </aside>
    </article>



</section>
<section id="lilleBox">Section right</section>


</div>

</body>
</html>