<!DOCTYPE html>

<head>
    <title> Arnold! </title>
    <link rel="stylesheet" href="style.css">
</head>
<!--Dette er en kommentar-->

<body>

    <h1> MY FIRST WEBSITE  </h1>
    <div id="box">
    <p id="p1">This is my first website</p>
    <p>Do you think I am skillful</p>
    <p><strong>Are you happy today?:</strong></p>

    <a href="https://www.google.com/search?q=cat+with+glasses&tbm=isch&ved=2ahUKEwiY2bSH4Jb6AhUt57sIHZRZDVwQ2-cCegQIABAA&oq=cat+with&gs_lcp=CgNpbWcQARgAMgQIABBDMgUIABCABDIECAAQQzIFCAAQgAQyBQgAEIAEMgQIABBDMgUIABCABDIFCAAQgAQyBAgAEEMyBQgAEIAEOgQIIxAnOggIABCABBCxAzoLCAAQgAQQsQMQgwE6BwgAELEDEENQ2QNY5Qtg1BJoAHAAeACAAdUBiAGmB5IBBTAuNS4xmAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=EBQjY5iRMK3O7_UPlLO14AU&bih=809&biw=1470&rlz=1C5CHFA_enDK1020DK1020#imgrc=Jen7x8sFyzPfGM">YES</a>
    <a href="https://www.google.com/search?q=cat+with+glasses&tbm=isch&ved=2ahUKEwiY2bSH4Jb6AhUt57sIHZRZDVwQ2-cCegQIABAA&oq=cat+with&gs_lcp=CgNpbWcQARgAMgQIABBDMgUIABCABDIECAAQQzIFCAAQgAQyBQgAEIAEMgQIABBDMgUIABCABDIFCAAQgAQyBAgAEEMyBQgAEIAEOgQIIxAnOggIABCABBCxAzoLCAAQgAQQsQMQgwE6BwgAELEDEENQ2QNY5Qtg1BJoAHAAeACAAdUBiAGmB5IBBTAuNS4xmAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=EBQjY5iRMK3O7_UPlLO14AU&bih=809&biw=1470&rlz=1C5CHFA_enDK1020DK1020#imgrc=Jen7x8sFyzPfGM">NO</a>
    <br>
    <br>

    <div id="ArnBox">
        <img src="terminator.jpeg" id="Arnold">
    </div>

</div>
</body>
</html>